# Puerto del servidor backend
PORT=3000

# Credenciales de Base de Datos
DB_USERNAME=root
DB_PASSWORD=tu_password_aqui
DB_DATABASE=gimnasio_db
DB_HOST=127.0.0.1
DB_DIALECT=mysql

# Seguridad y JWT
JWT_SECRET=tu_secreto_super_seguro_aqui

# CORS (Frontend permitido)
CORS_ORIGIN=http://localhost:5173