# Configuración del servidor backend
PORT=3000
NODE_ENV=development

# Conexión a la base de datos MySQL 
DATABASE_URL=mysql://usuario:password@localhost:3306/gimnasio_db

# Secreto para la firma de tokens JWT (Para cuando haya login)
JWT_SECRET=secreto_de_ejemplo